<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS BASIC DEMO</title>
</head>
<body>
    <h1 style="text-align: center;">Hello!, Welcome To CSS</h1>
    <hr>
    <h1 style="background-color:gold;text-align: center;">gold</h1><hr>
    <h1 style="background-color:aqua;text-align: center;">aqua</h1><hr>
    <h1 style="background-color:cadetblue; text-align: center;">cadetblue</h1><hr>
    <h1 style="background-color:chartreuse;text-align: center;">chartreuse</h1><hr>
    <h1 style="background-color:MediumSeaGreen;text-align: center;">MediumSeaGreen</h1><hr>
    <h1 style="background-color:darkorange;text-align: center;">darkorange</h1><hr>
    <h1 style="background-color:hotpink;text-align: center;">hotpink</h1><hr>
    <h1 style="background-color:lightblue;text-align: center;">lightblue</h1><hr>
    <h1 style="background-color:SlateBlue;text-align: center;">SlateBlue</h1><hr>
    <h1 style="background-color:Violet;text-align: center;">Violet</h1><hr>
</body>
</html>